@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --color-primario: #1d2d44;
  --color-secundario: #f0ebd8;
  --color-terciario: #3e5c76;
  --color-cuaternario: #00a8e8;

  --fuente-principal:  "Kanit", sans serif;
  --fuente-secundaria:  "Montserrat", sans serif;
}

* {
  /* Reseteo de CSS */
    padding: 0;
    margin: 0;
}

body {
  /* Aqui se esta modificando el fondo y el tamaño de la pagina*/
  background: linear-gradient(to right, var(--color-terciario), var(--color-cuaternario));
  box-sizing: border-box;
}

.header {
  padding: 2% 0% 0% 10%;
}

.header__menu {
  display: flex;
  gap: 40px;
}

.header__menu__link {
  font-family: var(--fuente-principal);
  text-decoration: none;
  font-weight: 600;
  color: var(--color-secundario);
}

.pagina {
  /* Esta es la division de la pagina principal */
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 50px;
    padding: 1%;
  }

  
  /* ------  Perfil ------------ */

  /* -- Imagen --- */
  .pagina__perfil {    /* Esta es la seccion con mi foto y mis enlaces */
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 1.5;
  }

  .pagina__perfil__contenedor-imagen {    /* Este es el contenedor de la imagen en la seccion
                                             Perfil*/
    width: 50%;
    padding: 2%;
  }
  .pagina__perfil__contenedor-imagen img { /* Esta es la imagen dentro del contenedor */
    width: 100%;
    border-radius: 2rem;
    transition: transform 0.3s ease;
  }
  
  .pagina__perfil__contenedor-imagen:hover img { /* Aqui se le aplican cambios a la imagen
                                                    cuando el mouse esta sobre ella */
    transform: scale(1.1);
  }

  /* ---- Enlaces ---- */
  
  .pagina__enlaces__subtitulo { /* Este es el subtitulo de los enlaces */
    font-family: "Kanit", serif;
    color: var(--color-primario);
  }

  .pagina__enlaces { /* Esta es la seccion del perfil donde estan los enlaces */
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .pagina__enlaces__link { /* Este es el estilo aplicado a los botones que seran los enlaces */
    text-decoration: none;
    color: var(--color-secundario);
    background-color: var(--color-primario);
    transition: color 0.3s ease;
    position: relative;
    width: 11.25rem;
    height: 1.5rem;
    border-radius: 2rem;
    padding: .5rem .3rem;
    font-family: var(--fuente-secundaria);
    font-weight: 600;
    border: .12rem solid var(--color-secundario);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
  }
  
  .pagina__enlaces__link::after { /* Esta es la barra que aparece debajo de los enlaces */
    content: "";
    position: absolute;
    left: 10%;
    bottom: .1rem;
    width: 80%;
    height: .1rem;
    background-color: var(--color-primario);
    transform: scaleX(0); /* Aqui se esta suprimiendo el tamaño de la barra para que no se vea*/
    transition: transform 0.3s ease-in-out;
  
  }
  
  .pagina__enlaces__link:hover { /* Estos son los cambios de estilo aplicados a los enlaces
                                    cuando el mouse esta sobre los enlaces */
    color: var(--color-primario);
    background-color: var(--color-cuaternario);
    border: .1rem solid var(--color-primario);
  }

  .pagina__enlaces__link:hover::after {/* Estos son los cambios de estilo aplicados a la barra
                                          cuando el mouse esta sobre los enlaces */
    transform: scaleX(1); /* Aqui se esta regresando la barra a su tamaño original */
  }




  
  /* ---------------- Contenido ---------------- */
  .pagina__contenido { /* Esta es la seccion con el titulo y el texto */
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 4rem;
    text-align: center;
  }
  /* ---- Titulo ---- */
  .pagina__contenido__titulo { 
    font-family: var(--fuente-principal);
    color: var(--color-primario);
    font-size: 3rem;
    text-shadow: .2rem .2rem .7rem var(--color-secundario);
  }
  .pagina__contenido__presentacion {
    font-family: var(--fuente-secundaria);
    font-weight: 600;
    color: var(--color-secundario);
    margin: 0 auto;
    width: 80%;
  }


  /* ---- Pie de pagina ---- */
  .footer {
    text-align: center;
    color: var(--color-secundario);
    background-color: var(--color-primario);
    padding: 1.5rem;
    font-family: var(--fuente-secundaria);
    font-size: 1rem;
    font-weight: 600;
    bottom: 0;
  }

  @media (max-width: 800px) {

    .header {
      padding: 5%;
    }

    .header__menu {
      justify-content: center;
    }

    .pagina {
      flex-direction: column-reverse;
      margin: 2%;
      gap: 3rem;
    }
  }